/*#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
	
#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}
	
#customers tr:nth-child(even){background-color: #f2f2f2;}
	
#customers tr:hover {background-color: #ddd;}
	
#customers th {
    padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #1B86FF;
	color: white;
}*/
/*
#errormessage {
	width: 750px;
 	height: 20px;  
  	padding: 10px;
  	border: 1px solid red;
    color: #D8000C;
    background-color: #FFD2D2;
}

#button {
  background-color: #1B86FF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}*/



table.aui{
    border-collapse:collapse;
    width:100%
}
table.aui table.aui{
    margin:0
}
table.aui>caption{
    color:#7a869a;
    background:#f4f5f7;
    border-bottom:1px solid #dfe1e6;
    caption-side:top;
    padding:7px 10px;
    text-align:left
}
table.aui>tbody>tr>td,table.aui>tbody>tr>th,table.aui>tfoot>tr>td,table.aui>tfoot>tr>th,table.aui>thead>tr>td,table.aui>thead>tr>th{
    padding:7px 10px;
    text-align:left;
    vertical-align:top
}
table.aui>tbody>tr>td>ul.menu,table.aui>tbody>tr>th>ul.menu,table.aui>tfoot>tr>td>ul.menu,table.aui>tfoot>tr>th>ul.menu,table.aui>thead>tr>td>ul.menu,table.aui>thead>tr>th>ul.menu{
    list-style-type:none;
    margin:0;
    padding:0
}
table.aui>tbody>tr>td>ul.menu>li,table.aui>tbody>tr>th>ul.menu>li,table.aui>tfoot>tr>td>ul.menu>li,table.aui>tfoot>tr>th>ul.menu>li,table.aui>thead>tr>td>ul.menu>li,table.aui>thead>tr>th>ul.menu>li{
    float:left;
    margin:0 10px 0 0;
    width:auto
}
table.aui>tbody>tr,table.aui>tfoot>tr{
    background:#fff;
    color:#172b4d
}
table.aui>tbody>tr:first-child>td,table.aui>tbody>tr:first-child>th,table.aui>tfoot>tr:first-child>td,table.aui>tfoot>tr:first-child>th{
    border-top:1px solid #dfe1e6
}
table.aui>thead{
    border-bottom:2px solid #dfe1e6
}
table.aui>tbody>tr>th,table.aui>thead>tr>th{
    color:#7a869a;
    font-size:12px;
    font-weight:600;
    line-height:1.66666667;
    letter-spacing:0;
    text-transform:none
}
table.aui>tbody>tr>th{
    font-size:inherit;
    background:#fff
}
table.aui .aui-button-link{
    padding-top:0;
    padding-bottom:0;
    line-height:inherit;
    height:auto;
    border:0
}
table.aui:not(.aui-table-list)>tbody>tr>td,table.aui:not(.aui-table-list)>tbody>tr>th,table.aui:not(.aui-table-list)>tfoot>tr>td,table.aui:not(.aui-table-list)>tfoot>tr>th{
    border-bottom:1px solid #dfe1e6
}
table.aui.aui-table-interactive>tbody>tr:focus-within,table.aui.aui-table-interactive>tbody>tr:hover,table.aui.aui-table-list>tbody>tr:focus-within,table.aui.aui-table-list>tbody>tr:hover{
    background:rgba(9,30,66,.08)
}
table.aui.aui-table-interactive>tbody>tr.aui-row-subtle *,table.aui.aui-table-list>tbody>tr.aui-row-subtle *{
    color:#b3bac5
}
table.aui.aui-table-interactive>tbody>tr.aui-row-subtle * .aui-avatar,table.aui.aui-table-interactive>tbody>tr.aui-row-subtle * .aui-button,table.aui.aui-table-interactive>tbody>tr.aui-row-subtle * .aui-icon,table.aui.aui-table-list>tbody>tr.aui-row-subtle * .aui-avatar,table.aui.aui-table-list>tbody>tr.aui-row-subtle * .aui-button,table.aui.aui-table-list>tbody>tr.aui-row-subtle * .aui-icon{
    opacity:.8
}
.aui-table-sortable .tablesorter-header{
    cursor:pointer;
    border-bottom:2px solid #dfe1e6
}
.aui-table-sortable .tablesorter-header.aui-table-column-unsortable{
    cursor:default
}
.aui-table-sortable .tablesorter-header:focus,.aui-table-sortable .tablesorter-header:hover{
    background-color:rgba(9,30,66,.08)
}
.aui-table-sortable .tablesorter-header:active{
    background-color:#deebff;
    border-color:#0747a6;
    color:#0747a6
}
.aui-table-sortable .tablesorter-headerAsc,.aui-table-sortable .tablesorter-headerDesc{
    background-color:transparent;
    color:#172b4d
}

table.aui.aui-table-sortable .tablesorter-header.aui-table-column-unsortable:active,table.aui.aui-table-sortable .tablesorter-header.aui-table-column-unsortable:focus,table.aui.aui-table-sortable .tablesorter-header.aui-table-column-unsortable:hover{
    background-color:inherit;
    border-color:inherit;
    color:#7a869a
}

.aui-table-sortable .tablesorter-header:focus .aui-table-header-content:after,.aui-table-sortable .tablesorter-header:hover .aui-table-header-content:after{
    opacity:.5
}
.aui-table-sortable .tablesorter-headerAsc .aui-table-header-content:after,.aui-table-sortable .tablesorter-headerAsc:focus .aui-table-header-content:after,.aui-table-sortable .tablesorter-headerAsc:hover .aui-table-header-content:after{
     opacity:1
}
.aui-table-sortable .tablesorter-headerDesc .aui-table-header-content:after,.aui-table-sortable .tablesorter-headerDesc:focus .aui-table-header-content:after,.aui-table-sortable .tablesorter-headerDesc:hover .aui-table-header-content:after{
    opacity:1
}

table.aui>thead>tr>th:nth-last-child(1) {
    text-align: right;
}

table.aui>tbody>tr>td:nth-last-child(1) {
    text-align: right;
}

.aspl-form-section
{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px;
}

.aspl-heading{
    font-size: 14px;
    font-weight: bold;
    color: #707070;
}
.aspl-dialog-header{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -.008em;
    text-transform: none;
}
